#Title {
  background-color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
  border-style: solid;
  height: 100%;
  width:100%;
  display: flex; 
  justify-content: space-around;
}

#gameWindow {
  border-style: solid;
  margin-left: 450px;
  margin-right: 450px;
  width: 75%;
  position: relative;
  left: 175px;
  height: 550px;
  margin: 20px;


}

#foot
{
  border-style: solid;
  background-color: aqua;
  height: 50px;
  bottom: 10;
}

.button{
  background-color: yellow; 
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#container {
  background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
}