#Title {
  background-color: rgb(255, 0, 0);
  border-style: solid;
  margin-left: 40px;
  margin-right: 40px;
  margin: 20px;
  display: flex; 
  justify-content: space-around;
}

#gameWindow {

  background-color: rgb(44, 83, 190);
  border-style: solid;
  margin-left: 450px;
  margin-right: 450px;
  width: 75%;
  position: relative;
  left: 175px;
  height: 500px;
  margin: 20px;


}

  
#aboutWindow {

  background-color: rgb(158, 0, 145);
  border-style: solid;
  margin-left: 40px;
  margin-right: 40px;
  margin: 20px;
  height: 50px;

}

#foot
{
  border-style: solid;
  background-color: aqua;
  height: 50px;
  bottom: 10;
}

.button{
  background-color: yellow; 
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

div {
  background-color: black;
 
}
