#Heading {
    background-color: rgb(189, 218, 255);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    height: 10%;
    top: 20px;
    width:100%;
    display: flex; 
    justify-content: space-around;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

#AboutGame {
    background-color: rgb(255, 210, 248);
    top: 50px;
    width: 100%;
    border-style: hidden;
    height: 150px;
    font-size: large;
}

#AboutGroup {
    background-color: rgb(255, 210, 248);
    top: 50px;
    height: 490px;
    font-size: large;

}

#AboutCode {
    background-color: rgb(255, 210, 248);
    top: 50px;
    font-size: large;
}