<!DOCTYPE html>
<html>

    

    <head>
        <link rel="stylesheet" href="About.css">
        <div id="Heading">
            <h1>About This Game</h1>
        </div>

        <div id="AboutGame">
            <p>XYZ is an arcade survival game requiring you to dodge incoming obstacles. The obstacles in our game are rocks. Rocks are falling from the sky and we have to stay alive for as long as possible. The rocks will come in more often and faster as time goes by. If the rocks comes into contact with you, its GAME OVER! You can use the arrow keys to move sideways and evade the plummetting rocks. The longer you survive the more points you will score and the top 10 highest scores will be displayed on a leaderboard. So Try your best to get your name on that leaderboard!
            </p>
            <p>Show us your skills of dodging all the rocks for as long as long as possible.
            </p>
        </div>
    </head>

    <body>
        <div id="AboutGroup">
            <b>This Game was made for our Web Programming coursework and the game development crew are as follows:
                </b>
            <p>-Aazim Faiz</p>
            <p>-Zein Said</p>
            <p>-Tahnoun Shareef</p>
            <p>-Lahenshah K.</p>
            <p>-Faheem Niyas</p>
            
        </div>
    </body>
      

    <footer>
        <div id="AboutCode">
            <i>This game was made using JavaScript, HTML and CSS.
            </i>
        </div>
    </footer>

</html>